* {
    box-sizing: border-box
}

body,html {
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #ffffff, #ffffff);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

form{
    border: 1px black;
    display: block;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin: auto;
    

}
input,select,button{
    height: 40px;
    border: none;
    background-color:rgb(191, 232, 242);
}
label{
    margin-top: 10px;
}
 
@media only screen and (max-width: 600px) {
    form{
        width: 90%;
    }
    input,select,button{
        height: 30px;
    }
}
